*/.ipynb_checkpoints/*
*.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
KEGG/*.sh
KEGG/data/*
KEGG/taxdump.tar.gz
*__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
mmseqs/*
mmseqs_victor/*
pathways/*
processing/*
tmp/*
*.sbatch
*/*.sbatch
*/*/*.sbatch
*.swarm
*/*.swarm
*/*/*.swarm
.DS_Store
*.log
microcosm/*.csv
microcosm/*.tsv
microcosm/*log*
microcosm/*.ipynb
.virtual_documents/*
core_data/*
*.tsv*
