notebooks/.ipynb_checkpoints/*
core_functions/__pycache__/*
.ipynb_checkpoints/*
KEGG/.ipynb_checkpoints/*
KEGG/*.sh
KEGG/data/*
KEGG/oldscripts/.ipynb_checkpoints/*
KEGG/taxdump.tar.gz
__pycache__/*
core_functions/.ipynb_checkpoints/
microcosm/*
mmseqs/*
mmseqs_victor/*
pathways/*
processing/*
tmp/*
.DS_Store
*.log
